/* ===== تنسيق الصفحة العامة ===== */
body {
    font-family: "Cairo", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1e3a8a, #2d4db2);
    color: white;
}

/* ===== العنوان الرئيسي ===== */
h1 {
    font-size: 45px;
    margin-top: 80px;
    font-weight: bold;
}

/* ===== النص تحت العنوان ===== */
p {
    font-size: 20px;
    margin-bottom: 30px;
}

/* ===== صورة الملف الشخصي ===== */
img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(255,255,255,0.3);
    transi
