body {
    background-color: #f2f2f2;
    text-align: center;
    font-family: Arial, sans-serif;
}

img {
    margin-top: 20px;
    border-radius: 15px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


